page-home {
  background: $toolbar-background;

  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }

  .toolbar-title-ios {
    text-align: center;
  }

  .check {
    text-align: center;

    .title {
      font-weight: 500;
      font-size: 2rem;
      color: color($colors, grey);
    }

    .subtitle {
      padding: 10px;
    }

    .check-icon {
      margin-top: -40px;
    }

    .announcement-logo {
      width: 200px;
      margin: 10px auto;
    }
  }

  .card,
  ion-card {
    .wallets-list-title {
      display: flex;
      align-items: center;
      max-width: 70%;

      > img {
        margin-right: 7px;
      }

      > span {
        line-height: 18px;
      }
    }

    .title-buttons {
      display: flex;

      button:first-child {
        margin-right: 5px;
      }
    }
  }

  .title {
    font-weight: 500;

    > img {
      margin-right: 7px;
    }
  }

  .error {
    color: color($colors, danger);
  }

  .wallet-ready {
    padding: 0rem;
    margin-bottom: 3rem;

    .row {
      justify-content: flex-end;

      button {
        font-size: 12px;
      }
    }
  }

  page-wallet-activity,
  page-txp {
    @media (max-width: 350px) {
      .item-title {
        font-size: 13px;
      }

      ion-note .date {
        font-size: 11.5px;
      }
    }
  }

  page-txp:first-child,
  page-wallet-activity:first-child {
    & .item-ios {
      border-top: 0.55px solid #f4f4f4;
    }
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border: 0;

    & .item-inner {
      border: 0 !important;
    }
  }

  .card {
    z-index: 1;
    position: relative;
  }

  .clipboard-card {
    z-index: 0;
  }

  .initial-margin {
    margin-top: -140px;
  }

  .content-animation {
    z-index: 5;
    margin-top: 0px;
    -webkit-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -moz-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -o-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    animation-name: bounce-card;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
  }

  ion-refresher {
    height: 120px;
    background: $toolbar-background;

    &-content {
      margin-top: -25px;
    }
  }

  .server-message,
  .new-release {
    padding-bottom: 0px;
    &-header {
      padding: 0px;
      text-align: center;
      .row {
        justify-content: flex-end;
        button {
          font-size: 12px;
        }
      }
    }
    &-content {
      padding: 0rem;
    }
    &-icon {
      display: flex;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
      }
    }
    &-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .title {
      color: color($colors, grey);
      font-weight: 500;
      font-size: 2rem;
      &-info {
        color: color($colors, info);
      }
      &-critical {
        color: color($colors, warning);
      }
    }

    &-body {
      color: color($colors, grey);
      text-align: center;
      white-space: normal;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      padding: 1rem 2rem 1rem 2rem;
    }
    &-button {
      cursor: pointer;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: color($colors, light);
      color: color($colors, dark);
      height: 5rem;
    }
  }

  .no-header {
    margin-top: 2.6rem;
  }

  .zero-state {
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .prompt-user {
      margin-bottom: 2rem;
    }
  }

  @include fix-ios-bg-scroll();

  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ion-fab[right] {
      right: env(safe-area-inset-bottom);
    }

    ion-fab[bottom] {
      bottom: env(safe-area-inset-bottom);
    }
  }

  @keyframes bounce-card {
    0% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(40px);
    }

    50% {
      transform: translateY(0);
    }

    57% {
      transform: translateY(5px);
    }

    64% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }
}
